   * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: normal 20px Arial;
}


body {
    min-height: 100vh;
    background-color: #6e4c7f18;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}
header {
    background-color: #8e44ad;
    padding: 15px 0;
    font-family: Arial;
    margin-top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}


.logo {
    width: 190px;
    position: relative;
    right: 180px;
}

.btn_layout {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    gap: 15px;
}

.btn_layout a {
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
    font-size: 20px;
    font-family: Arial;
    cursor: pointer;
    transition: color 0.3s;
    position: relative;
    margin-right: 50px;
    left: 200px;
}

.btn_layout a:hover {
    color: #4e1566;
}

#agora {
    color: #2c0935;
    text-decoration: none;
    cursor: pointer;
}
.cartao_principal {
    max-width: 900px;
    width: 100%;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 127px rgba(120, 144, 156, 0.4);
    padding: 60px 40px;
}

.alerta-erro {
    display: flex;
    justify-content: center;
}

.card-erro {
    display: none;
    background: #8A2BE2;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    color: white;
}

.cadastro {
    text-align: center;
}

.cadastro h1 {
    font-size: 36px;
    font-weight: 700;
    color: #8A2BE2;
    margin-bottom: 10px;
}

.cadastro h2,
.cadastro p {
    color: #78909C;
    margin-bottom: 25px;
    font-size: 20px;
}

.cadastro input {
    width: 100%;
    padding: 16px 20px;
    margin-bottom: 18px;
    border: 1px solid #CFD8DC;
    border-radius: 8px;
    font-size: 17px;
}

.cadastro input:focus {
    border-color: #8A2BE2;
    box-shadow: 0 0 0 3px rgba(138, 43, 226, 0.2);
}

.cadastro button {
    width: 70%;
    padding: 16px;
    background: #8A2BE2;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

.cadastro button:hover {
    background-color: #6A1B9A;
}
