body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

/* margem */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    /*fonte do site*/
}


.ativo {
    box-shadow: 0 2px 5px #490068;
    background-color: #490068;
    border-left: 10px solid #67006c;
    border-radius: 10px;
}



.main-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sidebar img{
    width: 150px;
}


.sidebar {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    background-color: #8e44ad;
    width: 200px;
    height: 100vh;
    margin-bottom: 0;
    padding: 1rem;
}


.sidebar h3 {
    margin: 0.5rem 0;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.75rem 1rem;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: rgb(104, 5, 104);
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.5s, background-color 0.2s;
}

.content1 {
    flex: 1;
    padding: 1rem;
}

.welcome-bar {
    background-color: #8e44ad;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.bloco-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #f3b9eb;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.explicacao {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 15px;
}


.link-container a {
    display: inline-block;
    padding: 12px 25px;
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
    background-color: #522763; 
    text-decoration: none; 
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.link-container a:hover {
    background-color: #813894; 
}


.kpis {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}


.relact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
}

.relact,
.card {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem;
    flex: 1 1 150px;
    text-align: center;
}

.kpisEspec {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    height: 300px;
}

.kpisEspec,
.card {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem;
    flex: 1 1 150px;
    text-align: center;
}


.kpis,
.card {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem;
    flex: 1 1 150px;
    text-align: center;
}

.card {
    box-shadow: 0 2px 3px #8e44ad;
}

.card p,
.card span,
.card h3 {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    gap: 20px;
    font-style: italic;
}

.graphs-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.chart-container,
.heatmap-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.chart-container h2,
.heatmap-container h2 {
    margin-bottom: 1rem;
}

.caixaReport {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.botSen, .butRelac {
    border: none;
}

.botSen:hover, .butRelac {
    cursor: pointer;
    transform: scale(1.05);
}


#mensagemReport {
    width: 700px;
    height: 200px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(1, 1, 1, 1);
    border-radius: 10px;
}

#chamadoButton {
    font-size: medium;
    color: #ffff;
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    background-color: #8e44ad;
    cursor: pointer;
}

#chamadoButton:hover {
    background-color: rgb(104, 5, 104);
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.5s, background-color 0.2s;
}

.calorento {
        width: 400px;
        margin: 0;
        padding: 0;
        height: 400px;
    }


#relactButton {
    font-size: medium;
    color: #ffff;
    width: 100px;
    border-radius: 10px;
    padding-bottom: 20px;
    background-color: #8e44ad;
    cursor: pointer;
    height: 10px;

}

#relacButton:hover {
    background-color: rgb(104, 5, 104);
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.5s, background-color 0.2s;
}
