body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

header {
    background-color: #8e44ad;
    padding: 15px 0;
    font-family: Arial;
    margin-top: 0;
    width: 100%;
}
header img{
    position: relative;
    left:800px
}
.ativo {
    box-shadow: 0 2px 5px #490068;
    background-color: #490068;
    border-left: 10px solid #67006c;
    border-radius: 10px;
}
.content1 {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f9;
}

.bloco-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #f3b9eb;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.explicacao {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 15px;
}

.link-container a {
    display: inline-block;
    padding: 12px 25px;
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
    background-color: #522763;
    text-decoration: none;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.link-container a:hover {
    background-color: #813894;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sidebar img{
    width: 150px;
}

.sidebar {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    background-color: #8e44ad;
    width: 200px;
    height: 100vh;
    margin-bottom: 0;
    padding: 1rem;
}

.sidebar h3 {
    margin: 0.5rem 0;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.75rem 1rem;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: rgb(104, 5, 104);
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.5s, background-color 0.2s;
}

.welcome-bar {
    background-color: #8e44ad;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

