body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

/* margem */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    /*fonte do site*/
}


.ativo {
    box-shadow: 0 2px 5px #490068;
    background-color: #490068;
    border-left: 10px solid #67006c;
    border-radius: 10px;
}



.main-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sidebar img{
    width: 150px;
}


.sidebar {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    background-color: #8e44ad;
    width: 200px;
    height: 100vh;
    margin-bottom: 0;
    padding: 1rem;
}


.sidebar h3 {
    margin: 0.5rem 0;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.75rem 1rem;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: rgb(104, 5, 104);
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.5s, background-color 0.2s;
}

.content1 {
    flex: 1;
    padding: 1rem;
}

.welcome-bar {
    background-color: #8e44ad;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


#container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    gap: 30px;
}

h1 {
    color: #490068;
    margin-bottom: 40px;
}

textarea[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 400px;
}

select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #8e44ad;
    color: #FFFFFF;
    border: none;
}

button:hover {
    transition: 1s;
    transform: scale(1.1);
    background-color:  #581773;
}

#resposta {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #D0D3D4;
    border: 1px solid #63666A;
    text-align: left;
    display: none;
}
