   * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: normal 20px Arial;
}

body {
    min-height: 100vh;
    background-color: #6e4c7f18;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cartao_principal {
    max-width: 900px;
    width: 100%;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 127px rgba(120, 144, 156, 0.4);
    padding: 60px 40px;
}

.alerta-erro {
    display: flex;
    justify-content: center;
}

.card-erro {
    display: none;
    background: #8A2BE2;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    color: white;
}

.cadastro {
    text-align: center;
}

.cadastro h1 {
    font-size: 36px;
    font-weight: 700;
    color: #8A2BE2;
    margin-bottom: 10px;
}

.cadastro h2,
.cadastro p {
    color: #78909C;
    margin-bottom: 25px;
    font-size: 20px;
}

.cadastro input {
    width: 100%;
    padding: 16px 20px;
    margin-bottom: 18px;
    border: 1px solid #CFD8DC;
    border-radius: 8px;
    font-size: 17px;
}

.cadastro input:focus {
    border-color: #8A2BE2;
    box-shadow: 0 0 0 3px rgba(138, 43, 226, 0.2);
}

.cadastro button {
    width: 70%;
    padding: 16px;
    background: #8A2BE2;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

.cadastro button:hover {
    background-color: #6A1B9A;
}
