

html {
scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}


header {
    background-color: #8e44ad;
    padding: 15px ; 
    font-family: Arial;
}

nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.logo{
    left: 50px;
    width: 190px;
}

.btn_layout {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap:80px;
  margin-right: 50px;
}

.btn_layout a {
  text-decoration: none;
  background-color: #8e44ad;
  color: #ffffff;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Jost", sans-serif;
  cursor: pointer;
}

.btn_layout a:hover {
color: #4e1566;
}


.sessão_1 {
    padding: 110px 0;
    background-color: #fff;
}

.sessão_1 .sessão_1-lugar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sessão_1-centro h2 {
    font-size: 3px;
    margin-bottom: 20px;
    color: #333;
}

.sessão_1 span {
    color: #6a3093;
    font-weight: bold;
}

.sessão_1-centro p {
    margin-bottom: 20px;
    max-width: 500px;
    color: #666;
    font-size: 20px;
}
.sessão_1-lugar {
    width: 80%; 
    margin: 0 auto;
}

/*bnt simular*/
.si {
    display: inline-block;
    background-color: #6a3093;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: relative;
    left: 170px;
    top: 30px;
}

/*imagem do shopping*/
.sessão_1-image {
    flex: 1;
    text-align: right;
}

.sessão_1-image img {
    max-width: 100%;
    border-radius: 5px;
    position: relative;
}

/* Sobre nos */


.quem-somos-e-servicos {
    background-color: #e6d7f2; 
    padding: 150px 0;
}

.duas-colunas {
    display: flex; 
    justify-content: space-between;
    align-items:center;
    gap: 30px;

}

.coluna-quem-somos {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 50%; 
    max-width: 50%;
    padding-right: 70px;
    
}

.coluna-quem-somos h2 {
    text-align: left;
    margin-bottom: 20px;
    position: relative;
    left: 360px;
    bottom: 85px;
}

.coluna-quem-somos p {
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    position: relative;
    left: 70px;
}

.coluna-servicos {
    flex: 0 0 50%;
    max-width: 50%;
}

.coluna-servicos h2 {
    text-align: right;
    color: #6a3093;
    margin-bottom: 15px;
}

.coluna-servicos .oferece {
    max-width: 450px;
    margin-left: auto;
    margin-bottom: 30px;
    text-align: right;
    line-height: 1.5;
}

.cartoes {
    width: 700%; 
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
    font-family: Arial;
}
    
    .coluna-quem-somos,
    .coluna-servicos {
        max-width: 100%; 
    }

    .coluna-quem-somos h2, .coluna-servicos h2 {
        text-align: center;
    }

    .coluna-servicos .oferece {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .cartoes {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .cartao {
        flex: 0 1 90%;
    }

/* SIMULAR */

.simulator-box {
    width: 700%;
    max-width: 950px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial; 
}


.simulator-box h1 {
    color: #6a3093; 
    font:normal 30px arial;
    font-weight: bold; 
}

.simulator-box p {
    color: #333;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px; 
}

.simulator-box label {
    display: block; 
    text-align: center; 
    margin-bottom: 10px; 
    font-size: 14px;
    color: #555;
}

.simulator-box input[type="text"], 
.simulator-box input[type="number"] {
    width: 70%;
    padding: 10px;
    background-color: #f0e6ff;
    border: 1px solid #ccaaff; 
    border-radius: 4px;
    text-align: center;
    color: #333;
    font-size: 16px;
}

.simular {
    width: 70%;
    padding: 12px;
    background-color: #6a3093;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}
 .me{
    display: inline-block;
    background-color: #6a3093;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: relative;
    left: 850px;
    top: 30px;
}
 


/* Contato */
.contact {
    padding: 40px 0;
    background-color: rgba(63, 25, 96, 0.6);
    color: #fff;
}

.contact .header {
    max-width: 600px;

}
.gato{
    position: relative;
    left: 1500px;
}

.contact h2 {
    margin-bottom: 30px;
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}
.header h2{
    position: relative;
    left: 650px;
}
.form-group p{
    position: relative;
    left: 650px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: rgba(101, 50, 138, 1);
    color: #fff;
    position: relative;
    left: 650px;
}

.form-group input::placeholder
.form-group textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.form-group textarea {
    height: 120px;
    resize: vertical;
}
 .btn {
    background-color: #6a3093;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px 20px;
    position: relative;
    left: 840px;
    bottom: 40px;
}
#resultado{
    position: relative;
    left: 800px;
}


footer {
    background-color: rgba(63, 25, 96, 1);
    color: #fff;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 180px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

img {
    max-width: 160px;
    position: relative;
    top: 8px;
    left: 55px;
}

.footer-info {
    display: flex;
    gap: 40px;
}



.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 15px;
    text-align: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-links a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    margin-left: 15px;
    transition: color 0.3s;
    font-size: 12px;
}
   
    .hero-content {
        padding-right: 0;
        margin-bottom: 30px;
        text-align: center;
    }
    
    .service-cards {
        flex-direction: column;
        align-items: center;
    	}    
   
    .services h2,
    .services > p {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer .container,
    .footer-info {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    .footer-menu,
    .footer-contact {
        position: relative;
        left: 700px;
        text-align: left;
    }
    
    .copyright {
        flex-direction: column;
    }
    
    .footer-links {
        margin-top: 10px;/
    }

    .footer-links a {
        margin: 0 5px;
    }

.gato{
    position: relative;
    left: 620px ;
    top: -15px;
}
.container > h2{
    position:relative;
    right: 5px;
}